
<div class="container d-flex justify-content-center" style="opacity: .8;">
    {% if compliantcourses.has_other_pages %}
    <ul class="pagination">
        {% if compliantcourses.has_previous %}
        <li class="page-item"><a class="page-link text-danger"
                href="?page={{ compliantcourses.previous_page_number }}&q={{ compliantcourses.0.course.id }}"><i><svg class="bi bi-chevron-compact-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 01.223.67L6.56 8l2.888 5.776a.5.5 0 11-.894.448l-3-6a.5.5 0 010-.448l3-6a.5.5 0 01.67-.223z" clip-rule="evenodd"/>
                      </svg></i></a>
        </li>
        {% else %}
        <li class="page-item disabled "><span class="page-link"><i><svg class="bi bi-chevron-compact-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 01.223.67L6.56 8l2.888 5.776a.5.5 0 11-.894.448l-3-6a.5.5 0 010-.448l3-6a.5.5 0 01.67-.223z" clip-rule="evenodd"/>
              </svg></i></span></li>
        {% endif %}
        {% for i in compliantcourses.paginator.page_range %}
        {% if compliantcourses.number == i %}
        <li class="page-item "><span class="page-link bg-danger text-light">{{ i }} <span
                    class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link text-danger"
                href="?page={{ i }}&q={{ compliantcourses.0.course.id }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if compliantcourses.has_next %}
        <li class="page-item"><a class="page-link text-danger"
                href="?page={{ compliantcourses.next_page_number }}&q={{ compliantcourses.0.course.id }}"><i><svg class="bi bi-chevron-compact-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 01.671.223l3 6a.5.5 0 010 .448l-3 6a.5.5 0 11-.894-.448L9.44 8 6.553 2.224a.5.5 0 01.223-.671z" clip-rule="evenodd"/>
                      </svg></i></a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link"><i><svg class="bi bi-chevron-compact-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 01.671.223l3 6a.5.5 0 010 .448l-3 6a.5.5 0 11-.894-.448L9.44 8 6.553 2.224a.5.5 0 01.223-.671z" clip-rule="evenodd"/>
              </svg></i></span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
